<!-- 4. Create a left bar component which contain some dummy adds. -->
<div class="m-3 p-3 row row-cols-1 g-4">
    <div class="card col">
        <img src="https://docs.google.com/uc?id=13EUEnFVZIJh7oDqxKts9oGcdOwtC7v4V" alt="ComputerImage">
        <div class="card-body">
            <h5 class="card-title">Buy Gamming PC</h5>
            <p>Customize your Own Gaming desktop from ANT PC in 2021 and Play latest AAA titles without any stuttering</p>
            <button class="btn btn-primary">Buy Now</button>
        </div>
    </div>
    <div class="card col">
        <img src="https://docs.google.com/uc?id=1NwJybnhiX0jnSgGp4eqSPMxLQGhFBRcJ" alt="MouseImg">
        <div class="card-body">
            <h5 class="card-title">Buy Gamming Mouse</h5>
            <p>A gaming mouse allows players to change the responsiveness and DPI, and usually comes with a bunch of extra buttons</p>
            <button class="btn btn-primary">Buy Now</button>
        </div>
    </div>
    <div class="card col">
        <img src="https://docs.google.com/uc?id=1THr7FYg-nQ3fNodHn36HKetkTiaqbh18" alt="BikeImg">
        <div class="card-body">
            <h5 class="card-title">Buy Royal Enfield</h5>
            <p>Buy Royal Enfield Interceptor Motorcycle · Royal Enfield Continental GT Motorcycle · Royal Enfield Meteor 350 </p>
            <button class="btn btn-primary">Buy Now</button>
        </div>
    </div>
</div>