<div class="table-content border border-3" style="background-color: antiquewhite; overflow-x: scroll;">
    <div class="bg-white">
        <hr>
        <h3 class="text-center text-primary mx-3">Student Table</h3>
        <p class="text-success fs-4 mt-3 mx-3">CLick Below Button To Show StudentList Table</p>
        <button (click)="showTable()" class="btn btn-primary m-3">Show Table</button>
        <hr>

        <table class="table bg-white table-hover table-bordered" *ngIf="tableStatus">
            <thead class="table-dark">
                <tr>
                    <th>StudentName</th>
                    <th>DOB</th>
                    <th>PlaceofBirth</th>
                    <th>FirstLanguage</th>
                    <th>Address</th>
                    <th>Father's Information</th>
                    <th>Mother's Information</th>
                    <th>Emergency Contact</th>
                    <th>Reference Details</th>
                    <th>Reference Through</th>
                    <th>Address with TelNo</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentList;let i=index;">
                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>FirstName</th>
                                    <th>MiddleName</th>
                                    <th>LastName</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{student.studentName.firstName}}</td>
                                    <td>{{student.studentName.middleName}}</td>
                                    <td>{{student.studentName.lastName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>{{student.dob}}</td>
                    <td>{{student.placeofBirth}}</td>
                    <td>{{student.firstLanguage}}</td>
                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>pin</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{student.address.city}}</td>
                                    <td>{{student.address.state}}</td>
                                    <td>{{student.address.country}}</td>
                                    <td>{{student.address.pin}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>FullName</th>
                                    <th>Email</th>
                                    <th>Education Qualification</th>
                                    <th>Profession</th>
                                    <th>Designation</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>FirstName</th>
                                                    <th>MiddleName</th>
                                                    <th>LastName</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{student.fatherInfo.fullName.firstName}}</td>
                                                    <td>{{student.fatherInfo.fullName.middleName}}</td>
                                                    <td>{{student.fatherInfo.fullName.lastName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>{{student.fatherInfo.email}}</td>
                                    <td>{{student.fatherInfo.educationQualification}}</td>
                                    <td>{{student.fatherInfo.profession}}</td>
                                    <td>{{student.fatherInfo.designation}}</td>
                                    <td>{{student.fatherInfo.phone}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>FullName</th>
                                    <th>Email</th>
                                    <th>Education Qualification</th>
                                    <th>Profession</th>
                                    <th>Designation</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>FirstName</th>
                                                    <th>MiddleName</th>
                                                    <th>LastName</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{student.motherInfo.fullName.firstName}}</td>
                                                    <td>{{student.motherInfo.fullName.middleName}}</td>
                                                    <td>{{student.motherInfo.fullName.lastName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>{{student.motherInfo.email}}</td>
                                    <td>{{student.motherInfo.educationQualification}}</td>
                                    <td>{{student.motherInfo.profession}}</td>
                                    <td>{{student.motherInfo.designation}}</td>
                                    <td>{{student.motherInfo.phone}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="fw-bold">Relation</td>
                                    <ng-container *ngFor="let relation of student.emergencyContact.relation">
                                        <td>
                                            {{relation}}
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Number</td>
                                    <ng-container *ngFor="let number of student.emergencyContact.number">
                                        <td>
                                            {{number}}
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td>{{student.referenceDetails}}</td>
                    <td>{{student.referenceThrough}}</td>
                    <td>{{student.arddressWithTelNo}}</td>
                    <td><button class="btn btn-Primary" (click)="EditStudent()">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="DeleteStudent(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>